header {
  background-color: #F0EFE9;
}
header .container {
  padding: 16px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo bars";
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo cib social" "logo menu menu";
  }
}
header .container .btn-menubars {
  grid-area: bars;
  font-size: 25px;
  border: none;
  background: transparent;
}
@media (min-width: 992px) {
  header .container .btn-menubars {
    display: none;
  }
}
header .container .logotype {
  grid-area: logo;
  margin-right: 40px;
}
header .container .contactinformation-bar {
  grid-area: cib;
  display: none;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .contactinformation-bar {
    display: flex;
  }
}
header .container .contactinformation-bar .content-box {
  margin-right: 30px;
  padding-right: 20px;
  border-right: 1px solid #DBDAD5;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}
header .container .contactinformation-bar .content-box i {
  margin-right: 5px;
  font-size: 1.2em;
  color: #707070;
}
header .container .contactinformation-bar .content-box.last {
  border: none;
}
header .container .socialmedia-bar {
  grid-area: social;
  display: none;
}
@media (min-width: 992px) {
  header .container .socialmedia-bar {
    display: block;
  }
  header .container .socialmedia-bar a {
    color: #191919;
    font-size: 1.3rem;
    margin-left: 10px;
  }
  header .container .socialmedia-bar a:hover {
    color: #666666;
  }
}
header .container .menu {
  grid-area: menu;
  border-top: 1px solid #DAD9D3;
  display: none;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding-top: 10px;
  position: relative;
}
@media (min-width: 992px) {
  header .container .menu {
    display: flex;
  }
}
header .container .menu .loginknapp {
  position: absolute;
  animation: login 2s ease-in-out;
  animation-delay: 1s;
  top: 0;
  right: 0;
  margin-top: 10px;
  padding-top: 10px;
  z-index: 999;
}
@keyframes login {
  20% {
    top: 0px;
    right: 0px;
  }
  40% {
    top: 50px;
    right: 0px;
  }
  60% {
    top: 50px;
    right: 200px;
  }
  80% {
    top: 50px;
    right: -60px;
  }
  100% {
    top: 50px;
    right: 0px;
  }
}
header .container nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container nav a.active {
  font-weight: 500;
}
header .container nav a.active:after, header .container nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}